/anotações.py
/aula_uninter_if_and_or.py
/aula_while_for.py
/cálculo imc (aula12).py
/ex1_uninter.py
/ex2_uninter.py
/ex3_uninter.py
/exercicio1.py
/exercicio2.py
/exercicio_if_else_elif.py
/exercício3.py
/exericios_de_fixacao.py
/main.py